@charset "UTF-8";
@font-face {
  font-family: "minicons-webalys";
  src:url("../vendor/fonts/demoicons/minicons-webalys.eot");
  src:url("../vendor/fonts/demoicons/minicons-webalys.eot?#iefix") format("embedded-opentype"),
    url("../vendor/fonts/demoicons/minicons-webalys.ttf") format("truetype"),
    url("../vendor/fonts/demoicons/minicons-webalys.svg#minicons-webalys") format("svg"),
    url("../vendor/fonts/demoicons/minicons-webalys.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src:url('../vendor/fonts/demoicons/FontAwesome.eot');
  src:url('../vendor/fonts/demoicons/FontAwesome.eot?#iefix') format('embedded-opentype'),
    url('../vendor/fonts/demoicons/FontAwesome.woff') format('woff'),
    url('../vendor/fonts/demoicons/FontAwesome.ttf') format('truetype'),
    url('../vendor/fonts/demoicons/FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bt-icon:before,
.bt-icon-alt:before {
  font-family: "minicons-webalys";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.bt-icon-alt:before {
  font-family: "FontAwesome";
}
.icon-twitter:before {
  content: "\e01c";
}
